/* Extends -------------------- */

%flex {
  display: flex;
  display:-webkit-flex;
  display: -ms-flexbox;
}

%flex-column {
  flex-direction: column;
  -webkit-flex-direction: column; 
}

%flex-row {
  flex-direction: row;
  -webkit-flex-direction: row;  
}

%flex-center {
  justify-content: center;
  -webkit-justify-content: center;
}

%flex-space {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

%flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

%flex-nowrap {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}

%flex-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

%flex-grow {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

%flex-end {
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

%flex-align {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

%align-self {
  -webkit-align-self: center; /* Safari 7.0+ */
  align-self: center;
}

%transition {
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}